<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{codebase/webix.css}" type="text/css">
	<script th:src="@{codebase/webix.js}" type="text/javascript"></script>
    <script th:src="@{/libs/routie.min.js}"></script>
    <script data-main="js/index" th:src="@{/libs/require.min.js}"></script>

    <title>Document</title>
</head>
<body>
<div id="app"></div>
</body>
</html>